<mat-toolbar>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Search Products</mat-label>
    <input matInput type="text" (input)="onSearchChange($event)" placeholder="Enter product name or description">
    <button matSuffix mat-icon-button aria-label="Search Products">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div class="filter-text">
    <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
      <mat-icon>filter_list</mat-icon>
    </button>
    <p>Filtros</p>
  </div>
</mat-toolbar>



